@model IEnumerable<Viethub.Models.Menu>
<!-- menu start -->
<nav class="main-menu">
    <ul>
        @foreach(var i in Model){
            <li><a href="@i.link">@i.name</a></li>//
        }
        <li>
            <div class="header-icons">
                <a class="shopping-cart" href="cart.html"><i class="fas fa-shopping-cart"></i></a>
                <a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
            </div>
        </li>
    </ul>
</nav>
<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
<div class="mobile-menu"></div>
<!-- menu end -->