@model Viethub.Models.Dish
<td class="product-image"><img src="~/Content/assets/img/products/@Model.img" alt=""></td>
<td class="product-name">@Model.name</td>
<td class="product-price">@Model.price</td>